@model perfume.Models.Order ;

@{
    ViewData["Title"] = "Cart";
    var cartProducts = ViewData["cartProducts"] as List<perfume.Models.OrderProduct>;
    var makedPerfume = ViewData["makedPerfume"] as List<perfume.Models.BasePerfume>;
}

<h1 style="margin-top:100px;">Create Order</h1>

<hr />


<div class="row d-flex">
    <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <table class="table">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Price</th>
                        <th> Quantity</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (cartProducts != null && cartProducts.Any())
                    {
                        decimal totalAmount = 0;
                        foreach (var item in cartProducts)
                        {
                            <tr>
                                <td>@item.Product.Name</td>
                                <td>@item.Product.Price</td>
                                <td class="d-flex">
                                    <form asp-action="EditQuantity" class="d-flex">
                                        <input type="hidden" asp-for="Id" name="Id" value="@item.Id" />
                                    <input type="number" name="Quantity" value="@item.Quantity" min="1" />
                                        <input type="submit" value="Save" class="btn btn-primary" />
                                    </form>
                                    @{
                                    totalAmount +=(decimal) (@item.Quantity * @item.Product.Price);

                                    }
                                </td>

                                
                                <td>
                                    <a class="btn btn-danger" asp-controller="OrderProducts" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </td>
                            </tr>
                        }
                        <div class="form-group">
                            <label asp-for="TotalAmount" class="control-label"></label>
                        <input type="hidden" asp-for="TotalAmount" value="@totalAmount" />

                            <input asp-for="TotalAmount" class="form-control" value="@totalAmount" disabled />
                            <span asp-validation-for="TotalAmount" class="text-danger"></span>
                        </div>
                        <input type="hidden" asp-for="Status" value="pinding" />


                    }
                    else
                    {
                        <tr><td colspan="2">Your cart is empty.</td></tr>
                    }
                </tbody>
            </table>


        @if (makedPerfume != null)
        {
            <table class="table" style="margin-top:100px;">
                <thead>
                    <tr>
                        <th>
                            Size
                        </th>
                        <th>
                            Quantity
                        </th>

                        <th>
                            SelectedBases
                        </th>
                        <th>
                            Price
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in makedPerfume)
                    {
                        int price = 0;
                        if (item.Size == 50)
                        { price = 10; }
                        if (item.Size == 100)
                        { price = 20; }
                        if (item.Size == 200)
                        { price = 35; }

                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Size)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>


                            <td>
                                @Html.DisplayFor(modelItem => item.SelectedBases)
                            </td>

                            <td>@(price * item.Quantity)</td>

                            <td>

                                <a class="btn btn-danger" asp-asp-controller="BasePerfumes" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>


        }
        else
        {
            <p> there is no selected base perfumes</p>
        }
       

        <form asp-action="Create">


            <div class="form-group">
                <input type="submit" value="Order now" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Products" asp-action="Index">Back to Products</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
